.directmessbox{
    top: 14%;
    left: 400px;
    height: 75%;
    width: 40%;
    position: absolute;
    background: white;
    box-shadow: rgba(0, 10, 0, 0.16) 0px 0px 4px 4px;
    border-radius: 5px;
    z-index: 7;
    color: black;
    padding: 30px;
}

.card{
    height: 75px;
    text-align: justify;
}

.cardhover{
    padding: 20px;
    float: left;
    position: relative;
}

.cardhover:hover{
    background: #023d67;
    color: white;
}

.useremail{
    margin-top: -30px;
    float: right;
    color: #9B9B9B;
}

.createdirectmessageinput{
    margin-top: 20px;
    border: 1px solid gray;
    width: 80%;
    height: 50px;
    border-radius: 4px;
    float: left;
    padding: 20px;
}

.createdirectmessagebutton{
    margin-top: 22px;
    margin-left: 10px;
    width: 70px;
    height: 45px;
}

.conditext{
    font-size: 12px;
    color: #023d67;
}
.userlist{
    font-size: 15px;
    line-height: 10px;
    overflow-y: auto;
    height: 280px;
    margin-top: 20px;
}

.user_list_tab{
     line-height: 30px;
    background: #cccccc;
}


.card-body{
    background: #cccccc;
}








